/* CSS Document */
#dv-mnu {
	background: url('img/bg1.png') #EEE;
	border-top: #A5BBD8 1px solid;
	border-bottom: #CBCBCB 1px solid;
	height:30px;
}
#menu {
	background: url('img/bg1.png') #EEE;
	margin: auto;
	margin-top:-1px;
	width:1000px;
	padding: 0px;
	display: block;
	border-top: #A5BBD8 1px solid;
	border-bottom: #CBCBCB 1px solid;
	height: 30px;
	-moz-box-shadow: 0 1px 3px #fff;
	-o-box-shadow: 0 1px 3px #444;
	-webkit-box-shadow: 0 1px 3px #fff;
	-khtml-box-shadow: 0 1px 3px #fff;
	box-shadow: 0 1px 3px #fff;	
}
#menu .menupop {
	POSITION: relative;
}
#menu a {
	color: #333;
	font-weight: 900;
	padding-left: 8px;
	padding-right: 8px;
}
#menu ul.submenu {
	Z-INDEX: 100;
	position: absolute;
	background: #fff;
	width: 220px;
	display: none;
	top: 30px;
	left: -1px;
	border: #999 1px solid;
	border-top: none;
	-moz-box-shadow: 0 1px 3px #444;
	-o-box-shadow: 0 1px 3px #444;
	-webkit-box-shadow: 0 1px 3px #444;
	-khtml-box-shadow: 0 1px 3px #444;
	box-shadow: 0 1px 3px #444;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
#menu ul.submenu li {
	float: none;
}
#menu ul.submenu li a {
	font-weight: 100;
}
#menu ul.submenu li:hover {
	background: #004891;
}
#menu ul.submenu li:hover a {
	color: #fff;
}
#menu li {
	line-height: 30px;
	float: left;
	border-left: #fff 1px solid;
	border-right: #CBCBCB 1px solid;
}
#menu li.curr {
	background: #fff;	
	color: #004691;
	
}
#menu li.curr a {
	color: #004691;
}
#menu li.on {
	line-height: 28px;
	background: #fff;
	border: 1px solid #fff;
	-moz-box-shadow: 0 1px 1px #444;
	-o-box-shadow: 0 1px 3px #444;
	-webkit-box-shadow: 0 1px 3px #444;
	-khtml-box-shadow: 0 1px 3px #444;
	box-shadow: 0 1px 3px #444;
}
#menu li.on a {
	color: #84B300;
}
#menu li.on ul {
	display: block;
}
#menu li.on ul a {
	color: #333;
}